{% load widget_tweaks %}
{% if user.is_authenticated %}

<!-- Modal Drink Add -->
<div class="modal fade" id="modal_{{ beer.pk }}" tabindex="-1" aria-labelledby="drinkAdd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="fw-lighter fs-4">
                    Add Drink
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST">
                <div class="modal-body">
                    <div class="text-center m-3">
                        <!-- Image Drink Add-->
                        <img src="{{ beer.image.url }}" height="300">
                    </div>

                    {% csrf_token %}

                    <!-- Actual Beer Input -->
                    <input type="hidden" name="beer" value="{{ beer.pk }}">

                    <!-- Displayed Beer Input -->
                    <div class="form-group mb-3">
                        <label for="beerDisplay" class="form-label">Beer</label>

                        <input type="text" name="beerDisplay" class="form-control" id="beerDisplay" value="{{ beer.name }}" disabled>
                    </div>

                    <div class="form-group mb-3">
                        <div class="row m-0">
                            <div class="col-md-6 p-0 pe-1">
                                {{ form_drink.volume.erros }}
                                <label for="{{ form_drink.volume.id_for_label }}" class="form-label">
                                    {{ form_drink.volume.label }}
                                </label>

                                {% render_field form_drink.volume class="form-control" %}
                            </div>
                            <!-- <div class="col-md-6 p-0 pe-1">
                                {{ form_drink.amount.erros }}
                                <label for="{{ form_drink.amount.id_for_label }}" class="form-label">
                                    {{ form_drink.amount.label }}
                                </label>

                                {% render_field form_drink.amount class="form-control" %}
                            </div>

                            <div class="col-md-6 p-0 ps-1">
                                {{ form_drink.unit.erros }}
                                <label for="{{ form_drink.unit.id_for_label }}" class="form-label">
                                    {{ form_drink.unit.label }}
                                </label>

                                {% render_field form_drink.unit class="form-control" %}

                            </div> -->

                            <div class="col-md-6 p-0 pe-1">
                                {{ form_drink.date.erros }}
                                <label for="{{ form_drink.date.id_for_label }}" class="form-label">
                                    {{ form_drink.date.label }}
                                </label>

                                {% render_field form_drink.date class="form-control" %}
                            </div>

                            <div class="col-md-6 p-0 ps-1">
                                {{ form_drink.time.erros }}
                                <label for="{{ form_drink.time.id_for_label }}" class="form-label">
                                    {{ form_drink.time.label }}
                                </label>

                                <input type="time" name="time" value="" id="time_{{ beer.pk }}" class="form-control" required="">

                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        {{ form_drink.count.erros }}
                        <label for="{{ form.count.id_for_label }}" class="form-label">
                            {{ form_drink.count.label }}
                        </label>
                        {{ form_drink.count|add_class:'form-control' }}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-outline-success" type="submit">Add Drink</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}