<div class="modal fade" id="deleteProfileModal" tabindex="-1" aria-labelledby="deleteAccount" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteAccount">Do you really want to delete your Account?</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                If you delete your account all of your data will be deleted (including groups, beers, drinks, etc.) and can <b>not</b> be restored. Are you sure you want to do that?
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                <a href="{% url 'action-profile-delete' pk=user.pk %}" class="btn btn-danger">Yes delete my Account!</a>
            </div>
        </div>
    </div>
</div>