:root {
    --card-width: 200px;

    --background: #f5f9fc;
    --on-background: #212529;

    --color-muted: #6c757d;

    --color-yellow: #ffd369;
    --shadow: rgba(70, 70, 70, 0.15);

    --surface: white;
}

.dark-mode {
    --on-background: #eee;
    --background: #212529;
    --shadow: rgba(0, 0, 0, 0);

    --surface: rgb(44, 50, 59);
}

body {
    color: var(--on-background);
}

/* 
===============================================================================
General
===============================================================================
*/

.neo-shadow {
    box-shadow: 15px 15px 10px rgba(70, 70, 70, 0.5), -15px -15px 10px rgba(255, 255, 255, 1);
}

.bg-highlight {
    background-color: rgba(255, 233, 168, 0.25);
}

.background {
    background-color: var(--background);
}

.color {
    color: var(--on-background);
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.content {
    /* background-color: #f3f3f3; */
    background-color: #f5f9fc;
    /* background-color: #dedad6; */
    /* Dark */
    /* background-color: #fafbfc; */
    /* background-color: #dfe7f0; */
}

.message {
    position: absolute;
    top: 2.5rem;
    left: 50%;

    min-width: 25%;

    transform: translate(-50%, 0);

    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
        top: 0;
    }

    to {
        opacity: 1;
        top: 2.5rem;
    }
}

.messages {
    position: absolute;
    width: 50%;

    z-index: 1100;

    transform: translate(-50%, 0);
    left: 50%;
    top: 1.25rem;
}

/* 
===============================================================================
Home.html
===============================================================================
*/

.dark-mode-toggle {
    border: 0;
    background-color: transparent;
    font-size: 1.25rem;

    color: var(--on-background);
}

.home-wrapper {
    background-color: var(--background);

    display: flex;
    flex-direction: column;

    padding: 1rem;

    min-height: 100vh;
}

.home-link {
    text-decoration: none;

    border-radius: 0.75rem;

    padding: 1rem 3rem;

    font-size: 1.25rem;

    box-shadow: 0 0 30px var(--shadow);
    background-color: var(--surface);
}

.yellow {
    color: var(--color-yellow);
}

/* 
===============================================================================
login.html / register.html / password_change.html
===============================================================================
*/

.user-box {
    width: 400px;
    height: fit-content;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* 
===============================================================================
Overview.html
===============================================================================
*/

/* .overview-card {
    height: 75px;
    width: 200px;
}

.yellow-gradient {
    background: rgb(255, 233, 168);
    background: linear-gradient(225deg, rgba(255, 233, 168, 1) 10%, rgba(255, 193, 7, 1) 100%);
}

.red-gradient {
    background: rgb(218, 144, 151);
    background: linear-gradient(225deg, rgba(218, 144, 151, 1) 10%, rgba(220, 53, 69, 1) 100%);
}

.green-gradient {
    background: rgb(123, 237, 184);
    background: linear-gradient(225deg, rgba(123, 237, 184, 1) 10%, rgba(25, 135, 84, 1) 100%);
}

.blue-gradient {
    background: rgb(165, 216, 255);
    background: linear-gradient(225deg, rgba(165, 216, 255, 1) 10%, rgba(0, 143, 251, 1) 100%);
} */

/* 
===============================================================================
group.html
===============================================================================
*/

#group-edit-toggle {
    float: right;

    color: white;
}

#group-edit-toggle > i {
    cursor: pointer;
}

/* 
===============================================================================
beers.html
===============================================================================
*/

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, min(42.5vw, 200px));
}

/* 
===============================================================================
login.html / register.html
===============================================================================
*/
/* 
.lq-card {
    width: 100%;
}

.lq-card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
} */

/* 
===============================================================================
nav.html
===============================================================================
*/

.nav-menu {
    cursor: pointer;
}
.navbar-dark .nav-menu {
    color: white;
}

.nav-image {
    width: 2rem;
    height: 2rem;
}

.image {
    object-fit: cover;
}

/* 
===============================================================================
Bootstrap extensions
===============================================================================
*/

/* Same as alert-danger */
.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.toast {
    transition: 500ms;
}

.toast-wrapper {
    z-index: 11;
    transform: translate(50%);
}
