{% extends 'main.html' %} {% block content %} {% load i18n %}

<!-- Content Header -->
<div class="container">
    <div class="row mx-0 my-3">
        <div class="col-12 col-md-8 col-lg-9 px-0 fw-lighter fs-2 text-center text-md-start pb-2 pb-md-0">
            Friends
        </div>

        <div class="col-12 col-md-4 col-lg-3 p-0 vertical-center justify-content-center justify-content-md-end">
            <a class="btn btn-primary me-2 position-relative" data-bs-toggle="modal" data-bs-target="#modalViewRequests">
                {% trans "View Requests" %}
                {% if user.profile.incoming_requests %}
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 0.5rem;">
                    {{ user.profile.incoming_requests }}
                    <span class="visually-hidden">{% trans "unread messages" %}</span>
                </span>
                {% endif %}
            </a>

            <a class="btn btn-primary" href="{% url 'search' %}"><i class="bi bi-search"></i> {% trans "Search" %}</a>
        </div>
    </div>
</div>

<div class="content flex-grow-1">
    <div class="container my-4">
        <ul class="list-group">

            {% for friend in friends %}

            <li class="list-group-item d-flex align-items-center">
                <img width="40" height="40" class="image rounded-circle" src="{{ friend.profile.image.url }}" alt="">
                <a href="{% url 'profile' pk=friend.pk %}" class="link text-dark ms-2">{{ friend.profile.name }}</a>
                <a class="link text-danger ms-auto" data-bs-toggle="modal" data-bs-target="#modalRemove_{{ friend.pk }}">{% trans "Remove" %}</a>
                {% include "users/friends/remove.html" %}
            </li>

            {% endfor %}

        </ul>
    </div>
</div>

{% include "users/friends/requests.html" %}

{% endblock %}