{% extends 'main2.html' %} {% block content %} {% load i18n %}

<form class="user-box surface rounded p-4 shadow" method="POST">
    <!-- Title -->
    <div class="text-center fw-lighter fs-3">{% trans "Log In" %}</div>

    <hr />

    {% csrf_token %}

    <fieldset class="form-group">{% include "forms.html" %}</fieldset>

    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-success px-4" type="submit">{% trans "Login" %}</button>
        <small class="text-muted float-end"><a class="link" href="{% url 'password_reset' %}">{% trans "Forgot Password" %}?</a></small>
    </div>

    <hr />

    <div class="text-center">
        <small class="text-muted"> {% trans "Have no account" %}? <a class="link ms-2" href="{% url 'register' %}">{% trans "Register Now" %}!</a> </small>
    </div>
</form>

{% endblock %}
