{% extends 'main.html' %} {% block content %}

<div class="content flex-grow-1 d-flex justify-content-center">
    <form class="user-box bg-body border rounded p-4 shadow-sm" method="POST">
        <!-- Title -->
        <div class="text-center fw-lighter fs-3">
            Log In
        </div>

        <hr>

        {% csrf_token %}

        <fieldset class="form-group">

            {% include "forms.html" %}

        </fieldset>

        <div class="form-group">
            <button class="btn btn-success" type="submit">Login</button>
            <small class="text-muted mt-2 float-end"><a class="link" href="#">Forgot Password?</a></small>
        </div>

        <hr>

        <div class="text-center">
            <small class="text-muted">
                Have No Account? <a class="link ms-2" href="{% url 'register' %}">Register now!</a>
            </small>
        </div>
    </form>
</div>

{% endblock %}