{% extends 'main.html' %} {% block content %}

<!-- Content Header -->
<!-- <div class="container">
    <div class="row m-0">
        <div class="p-0 py-4">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="d-flex justify-content-center justify-content-md-start fw-lighter fs-2">
                        Log Out
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="content flex-grow-1">
    <div class="container">
        <div class="fs-2 text-center p-5">
            You have been logged out!

            <div class="fs-5">
                <a class="link" href="{% url 'login' %}">Log In Again</a>?
            </div>
        </div>
    </div>
</div>

{% endblock content%}