{% extends 'main.html' %} {% block content %}

<div class="container rounded border shadow-sm my-5 p-3" style="max-width: 800px;">
    <!-- Header -->
    <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-start align-items-center">
        <img width="200" height="200" class="image rounded-circle border" src="{{ user.profile.image.url }}" alt="">
        <div class="d-flex flex-column justify-content-center ms-2">
            <span class="display-5">{{ user.profile.name }}</span>
            <span class="text-center text-md-start text-secondary">{{ user.profile.description }}</span>
        </div>
    </div>
    <hr>
    <!-- Form -->
    {% include "users/profile/form.html" %}

    <!-- Modal Delete Account-->
    {% include "users/profile/delete.html" %}

</div>

{% endblock %}