{% extends 'main2.html' %} {% block content %} {% load i18n %}

<form class="user-box surface rounded p-4 shadow" method="POST">
    <!-- Title -->
    <div class="text-center fw-lighter fs-3">{% trans "Register" %}</div>

    <hr />

    {% csrf_token %}

    <fieldset class="form-group">
        {% include "forms.html" %}

        <button class="w-100 btn btn-success" type="submit">{% trans "Sign Up" %}</button>
    </fieldset>

    <hr />

    <div class="form-group text-center">
        <small class="text-muted"> {% trans "Already have an account" %}? <a class="link ms-1" href="{% url 'login' %}">{% trans "Sign in" %}!</a> </small>
    </div>
</form>

{% endblock %}
