{% if user.is_authenticated %} {% load i18n %}

<!-- Modal Drink Add -->
<div class="modal fade" id="modal_{{ drink.pk }}" tabindex="-1" aria-labelledby="drinkAdd" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="fw-lighter fs-4">
                    {% trans "Add Drink" %}
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {% include 'app/drinks/form.html' %}
        </div>
    </div>
</div>

{% endif %}