{% load i18n %}
<!-- Modal Group Delete -->
<div class="modal fade" id="modalGroupDelete_{{ group.pk }}" tabindex="-1" aria-labelledby="groupDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="groupDelete">{% trans "Delete Group" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {% trans "Are you sure that you want to delete" %} <b>"{{ group.name }}"</b>? {% trans "It can not be restored" %}!
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>
                <a class="btn btn-danger" href="{% url 'action-groups-delete' pk=group.pk %}">{% trans "Delete" %}</a>
            </div>
        </div>
    </div>
</div>