<div class="modal fade" id="modalViewRequests" tabindex="-1" aria-labelledby="viewRequests" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="fw-lighter fs-4">
                    Your Friend Requests
                </div>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <ul class="list-group shadow-sm">
                    <li class="list-group-item bg-dark text-white fw-bold">
                        Incoming

                        <span class="float-end text-success ">{{ incoming.count }}</span>
                    </li>

                    {% for rq in incoming %}

                    <li class="list-group-item d-flex align-items-center">
                        <img width="40" height="40" class="image rounded-circle" src="{{ rq.sender.profile.image.url }}" alt="">
                        <a href="{% url 'profile' pk=rq.sender.pk %}" class="link text-dark ms-2">{{ rq.sender.profile.name }}</a>
                        <a class="link text-success ms-auto" href="{% url 'action-friend-accept' pk=rq.pk %}">Accept</a>
                        <a class="link text-danger ms-3" href="{% url 'action-friend-decline' pk=rq.pk %}">Decline</a>
                    </li>

                    {% empty%}

                    <li class="list-group-item">Empty</li>

                    {% endfor %}

                </ul>

                <hr>

                <ul class="list-group shadow-sm">
                    <li class="list-group-item bg-dark text-white fw-bold">
                        Outgoing

                        <span class="float-end text-success ">{{ outgoing.count }}</span>
                    </li>

                    {% for rq in outgoing %}

                    <li class="list-group-item d-flex align-items-center">
                        <img width="40" height="40" class="image rounded-circle" src="{{ rq.receiver.profile.image.url }}" alt="">
                        <a href="{% url 'profile' pk=rq.receiver.pk %}" class="link text-dark ms-2">{{ rq.receiver.profile.name }}</a>
                        <a class="link text-danger ms-auto" href="{% url 'action-friend-cancel' pk=rq.pk %}">Cancel</a>
                    </li>

                    {% empty %}

                    <li class="list-group-item">Empty</li>

                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>