<footer class="flex-shrink-1 text-muted text-center bg-dark">
    <div class="container d-flex flex-column flex-md-row py-3">
        <div class="pb-2">
            &copy; 2021 Ricardo inc.
        </div>
        <div class="ms-md-auto">
            <a class="link text-muted" href="#">
                <i class="bi bi-instagram ps-2"></i>
            </a>

            <a class="link text-muted" href="#">
                <i class="bi bi-github ps-2"></i>
            </a>

            <a class="link text-muted" href="#">
                <i class="bi bi-youtube ps-2"></i>
            </a>

            <a class="link text-muted" href="#">
                <i class="bi bi-google ps-2"></i>
            </a>
        </div>
    </div>
</footer>