<footer class="flex-shrink-1 text-muted bg-dark">
    <div class="container py-3">
        <div class="row m-0">
            <div class="col-12 col-md-6 p-0 py-2">
                &copy; 2021 Ricardo inc.
            </div>

            <div class="col-12 col-md-6 p-0 text-md-end py-2">
                <a class="link text-muted" href="#">
                    <i class="bi bi-instagram ps-2"></i>
                </a>

                <a class="link text-muted" href="#">
                    <i class="bi bi-github ps-2"></i>
                </a>

                <a class="link text-muted" href="#">
                    <i class="bi bi-youtube ps-2"></i>
                </a>

                <a class="link text-muted" href="#">
                    <i class="bi bi-google ps-2"></i>
                </a>
            </div>
        </div>
    </div>
</footer>