{% extends 'main.html' %} {% block content %} {% load widget_tweaks %}

<!-- Content Header -->
<div class="container">
    <div class="row m-0">
        <div class="p-0 py-4">
            <div class="row m-0">
                <div class="col-12 col-md-8 col-lg-9 p-0 mb-2 mb-md-0">
                    <div class="d-flex justify-content-center justify-content-md-start fw-lighter fs-2">
                        Beer
                    </div>
                </div>

                <div class="col-12 col-md-4 col-lg-3 p-0 vertical-center mt-2 mt-md-0">
                    <form class="d-flex input-group mx-auto mx-md-0 ms-md-auto">
                        <input class="form-control" id="liveSearch" type="search" placeholder="Search" aria-label="Search" onkeyup="search()">
                        <a class="input-group-text link" data-bs-toggle="modal" data-bs-target="#modal_beer_add">
                            New
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content flex-grow-1">
    <div class="container grid mb-4">

        <!-- Modal -->
        {% include "app/beers/new.html" %}

        {% for beer in beers %}

        <!-- card -->
        {% include "app/beers/card.html" %}

        {% endfor %}
    </div>
</div>

{% endblock %}