{% extends 'main.html' %} {% block content %} {% load widget_tweaks %}

<!-- Content Header -->
<div class="container">
    <div class="row mx-0 my-3">
        <div class="col-12 col-md-8 col-lg-9 col-xxl-10 px-0 fw-lighter fs-2 text-center text-md-start pb-2 pb-md-0">
            Beer
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xxl-2 p-0 vertical-center">
            <form class="input-group">
                <input class="form-control" id="drinkInput" type="search" placeholder="Search" aria-label="Search">
                <a class="input-group-text link text-success" data-bs-toggle="modal" data-bs-target="#modal_drink_create">
                    New
                </a>
            </form>
        </div>
    </div>
</div>

<!-- Create Drink Modal -->
{% include "app/drinks/create.html" %}

<div class="content flex-grow-1">
    <div class="container grid my-4">
        {% for drink in drinks %}

        <!-- Card -->
        {% include "app/drinks/card.html" %}

        {% empty %}

        <h1>No Drinks for you :(... maybe add one?</h1>

        {% endfor %}
    </div>
</div>

{% endblock %}