{% extends 'main.html' %} {% block content %}

<!-- Content Header -->
<div class="container">
    <div class="row m-0">
        <div class="p-0 py-4">
            <div class="row m-0">
                <div class="col-12 col-md-8 col-lg-9 p-0 mb-2 mb-md-0">
                    <div class="d-flex justify-content-center justify-content-md-start fw-lighter fs-2">
                        {{ group.name }}
                    </div>
                </div>

                {% if creator %}

                <div class="col-12 col-md-4 col-lg-3 p-0 d-flex justify-content-center justify-content-md-end">
                    <div class="vertical-center">
                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRename">
                            Rename
                        </a>
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </div>
</div>



<div class="content flex-grow-1">
    <div class="container my-4">

        <div class="my-3 fw-lighter fs-3">
            Members: {{ group.members.count|add:"1" }}
        </div>

        <ul class="list-group shadow-sm">
            <li class="list-group-item bg-dark text-white" aria-current="true">Creator</li>

            <li class="list-group-item">
                <a href="{% url 'profile' pk=group.creator.pk %}" class="link text-dark">{{ group.creator.profile.name }}</a>
            </li>

            <li class="list-group-item bg-dark text-white" aria-current="true">Members</li>

            {% for member in group.members.all %}

            <li class="list-group-item">

                <a href="{% url 'profile' pk=member.pk %}" class="link text-dark">{{ member.profile.name }}</a>

                {% if creator %}

                <a class="link float-end ms-2 text-danger" data-bs-toggle="modal" data-bs-target="#modalMemberRemove_{{ member.pk }}">
                    Remove
                </a>

                {% include "app/group/remove.html" %}

                {% else %} {% if member == user %}

                <a class="link float-end ms-2 text-danger" data-bs-toggle="modal" data-bs-target="#modalLeave">
                    Leave
                </a>

                {% include "app/group/leave.html" %}

                {% endif %} {% endif %}

            </li>

            {% endfor %}

            {% if creator %}

            <li class="list-group-item"><a href="#" class="link" data-bs-toggle="modal" data-bs-target="#modalAddMember">Add Member</a></li>

            {% include "app/group/add.html" %}

            {% endif %}

        </ul>

        <!-- Group Charts -->
        <div id="GroupColumnChart" class="mt-4 p-3 shadow-sm bg-white"></div>

        <div id="GroupAccumulatedChart" class="mt-4 p-3 shadow-sm bg-white"></div>

    </div>
</div>

{% include "app/group/rename.html" %}

<!-- Group Chart API Call -->
<script>
    initGroupCharts("{{ group.pk }}");
</script>

{% endblock %}