{% extends 'main.html' %} {% block content %}

<!-- Content Header -->
<div class="container">
    <div class="row m-0">
        <div class="p-0 py-4">
            <div class="row m-0">
                <div class="col-12 col-md-8 col-lg-9 p-0 mb-2 mb-md-0">
                    <div class="d-flex justify-content-center justify-content-md-start fw-lighter fs-2">
                        {{ group.name }}
                    </div>
                </div>

                {% if creator %}

                <div class="col-12 col-md-4 col-lg-3 p-0 d-flex justify-content-center justify-content-md-end">
                    <div class="vertical-center">
                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalRename">
                            Rename
                        </a>
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </div>
</div>



<div class="content flex-grow-1">
    <div class="container my-4">

        <div class="my-3 fw-lighter fs-3">
            Members: {{ group.members.count|add:"1" }}
        </div>

        <ul class="list-group shadow-sm">
            <li class="list-group-item bg-dark text-white" aria-current="true">Creator</li>

            <li class="list-group-item">
                <a href="{% url 'profile' pk=group.creator.pk %}" class="link text-dark">{{ group.creator.profile.name }}</a>
            </li>

            <li class="list-group-item bg-dark text-white" aria-current="true">Members</li>

            {% for member in group.members.all %}

            <li class="list-group-item">

                <a href="{% url 'profile' pk=member.pk %}" class="link text-dark">{{ member.profile.name }}</a>

                {% if creator %}

                <a class="link float-end ms-2 text-danger" data-bs-toggle="modal" data-bs-target="#modalMemberRemove_{{ member.pk }}">
                    Remove
                </a>

                <!-- Modal Group Member Remove -->
                <div class="modal fade" id="modalMemberRemove_{{ member.pk }}" tabindex="-1" aria-labelledby="groupRemove" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="groupRemove">Remove Member</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                Are you sure that you want to remove <b>"{{ member.profile.name }}"</b> from
                                <b>{{ group.name }}</b>?
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="{% url 'group-single' pk=group.pk %}?pk={{ member.pk }}">Yes
                                    remove!</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% else %} {% if member == user %}

                <a class="link float-end ms-2 text-danger" data-bs-toggle="modal" data-bs-target="#modalLeave">
                    Leave
                </a>

                <!-- Modal Group Leave -->
                <div class="modal fade" id="modalLeave" tabindex="-1" aria-labelledby="groupLeave" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="groupLeave">Leave Group</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>

                            <div class="modal-body">
                                Are you sure that you want to leave "<b>{{ group.name }}</b>"?
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="{% url 'group-single' pk=group.pk %}?pk={{ user.pk }}">Yes
                                    leave!</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

                {% endif %}

            </li>

            {% endfor %}

            {% if creator %}

            <li class="list-group-item"><a href="#" class="link" data-bs-toggle="modal" data-bs-target="#modalAddMember">Add Member</a></li>

            <!-- Add Member Modal -->
            <div class="modal fade" id="modalAddMember" tabindex="-1" aria-labelledby="modalAddMember" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalAddMember">Add Member</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <ul class="list-group">

                                {% for friend in user.friendlist.friends.all %}
                                {% if not friend in group.members.all %}

                                <li class="list-group-item">
                                    <div class="d-flex px-1 py-1">
                                        <div class="friend-image rounded-circle" style="background-image: url('{{ friend.profile.image.url }}');"></div>

                                        <div class="vertical-center flex-grow-1">
                                            <span class="ms-2">
                                                <a href="{% url 'profile' pk=friend.pk %}" class="link text-dark">
                                                    {{ friend.profile.name }}
                                                </a>
                                            </span>

                                            <div class="ms-auto">
                                                <a href="#" class="link text-success GROUP_ADD" id="group_add_{{ friend.pk }}" add-status="on">
                                                    Add to group
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                {% endif %}
                                {% endfor %}

                            </ul>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                            <button class="btn btn-outline-success" id="groupSubmit" group-pk="{{ group.pk }}" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

        </ul>

        <!-- Group Charts -->
        <div id="GroupColumnChart" class="mt-4 p-3 shadow-sm bg-white"></div>

        <div id="GroupAccumulatedChart" class="mt-4 p-3 shadow-sm bg-white"></div>

    </div>
</div>

<!-- Rename Modal -->
<div class="modal fade" id="modalRename" tabindex="-1" aria-labelledby="modalRename" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalRename">Rename Group</h5>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form method="POST">
                <div class="modal-body">

                    {% csrf_token %}

                    <div class="col p-0 ps-1">
                        {{ form.name.erros }}
                        <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}</label>

                        <input type="text" name="name" value="{{ group.name }}" class="form-control" maxlength="100" id="id_name" required>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    <button class="btn btn-outline-success" type="submit">Rename</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Group Chart API Call -->
<script>
    initGroupCharts("{{ group.pk }}");
</script>

{% endblock %}