{% extends 'main2.html' %} {% block content %} {% load i18n %}

<div class="text-center">
    <div class="mb-5">
        <h1 class="display-1 fw-normal">Welcome to <span class="text-primary">Liquity</span></h1>
        <small class="text-muted fs-6">The App to monitor your drinking habits. We have Charts!</small>
    </div>
    <div class="d-flex justify-content-around">
        <a class="btn-primary shadow" href="{% url 'login' %}">Login</a>
        <a class="btn-primary shadow" href="{% url 'register' %}">Register</a>
    </div>
</div>

{% endblock %}
