{% load i18n %}
<!-- Add Member Modal -->
<div class="modal fade" id="modalAddMember" tabindex="-1" aria-labelledby="modalAddMember" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddMember">{% trans "Add Member" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <ul class="list-group">

                    {% for friend in user.friendlist.friends.all %}
                    {% if not friend in group.members.all %}

                    <li class="list-group-item">
                        <div class="d-flex px-1 py-1">
                            <img width="40" height="40" class="image rounded-circle" src="{{ friend.profile.image.url }}" alt="">

                            <div class="vertical-center flex-grow-1">
                                <span class="ms-2">
                                    <a href="{% url 'profile' pk=friend.pk %}" class="link text-dark">
                                        {{ friend.profile.name }}
                                    </a>
                                </span>

                                <a href="#" class="lq-group-add link ms-auto text-success" profile="{{ friend.pk }}" add-status="on">
                                    {% trans "Add to Group" %}
                                </a>
                            </div>
                        </div>
                    </li>

                    {% endif %}

                    {% empty %}

                    <li class="list-group-item">{% trans "No Friends :(" %}</li>

                    {% endfor %}

                </ul>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans "Close" %}</button>

                <button class="btn btn-outline-success" id="groupSubmit" url="{% url 'action-group-add' pk=group.pk %}" type="submit">{% trans "Submit" %}</button>
            </div>
        </div>
    </div>
</div>